#body1 {   
    background-image: url("/img/audirs6.jpg");
    background-size: 100%;
    background-color: black;
    margin: 0;
    
}
#modeller_body {   
    background-color: rgb(241, 241, 241);
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#container {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-rows: 1fr 8fr 0fr;
    grid-template-areas:
    "nav"
    "main"
    "ft"
    ;
    color: white;
}

#modeller_container {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-rows: 1fr 8fr 0fr;
    grid-template-areas:
    "nav"
    "main"
    "ft"
    ;
    color: black;
}


#index_main {
    grid-area: main;
    display: flex;
    justify-content: center;
    align-items: center;
}

#modeller_main {
    grid-area: main;
    margin: 20px;
    background-color: rgb(241, 241, 241);
}

#audilogga {
    height: 200px;
}

nav {
    grid-area: nav;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1{
    font-size: 50px;
}

footer {
    grid-area: ft;
}

ul {
    list-style-type: none;
}

ul li {
    display: inline-block;
    padding: 5px;
}

ul li a {
    text-decoration: none;
    color: #fff;
    padding: 5px 15px;
    border: 1px solid rgba(255, 255, 255, 0);
    font-size: 20px
}

#röd {
    color: rgb(209, 0, 0);
}

.svartnav li a {
    color: black;
}

#modeller_nav {
background-color: white;
}

footer p{
    font-family: 'Times New Roman', Times, serif;
}
